<!doctype html>
<html>
  <head>
    <title>services page</title>
    <meta charset="utf-8">
    <meta name="view report" content="width=device-width, intial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/services.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Petemoss&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Petemoss&display=swap" rel="stylesheet">
   
  </head>
  <video autoplay loop muted playsinline>
    <source src="../assets/back.mp4"type="video/mp4">
  </video>

  <body>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="./login.html">Login</a>
      <a href="./home.html">Home</a>
      <a href="./about_us.html">About</a>
      <a href="./services.html">Services</a>
    </div>
    <header>
      <div id="main">
        <button class="openbtn" onclick="toggleSidebar()">☰</button>
      </div>
    <div class="section">
      <div class="title">
        <div class="icon">
          <a href="./profile.html" class="icon-button">
          <i class='bx bx-user'></i></a></div>
          <div class="iconn">
            <a href="./support.html" class="icon-button1">
            <i class='bx bx-support'></i></a></div>
        <h1>Our services</h1>
      </div>
      <div class="services">
        <div class="card">
          <div class="icon">
          </div>
          <h2>Ants</h2>
          <p1>Ants are one of the most common household pests, and they can be a real nuisance.,spread disease, and damage property.</p1>
          <a href="./payment.html" class="button">Book Now</a>
        </div>
        <div class="card2">
          <div class="icon">
          </div>
          <h2>Cockroaches</h2>
          <p2> Cockroaches are another common household pest, and they can also be a serious health hazard. They can carry bacteria that can cause food poisoning.</p2>
          <a href="" class="button">Book Now</a>
        </div>
        <div class="card3">
          <div class="icon">
         </div>
          <h2>Rodents</h2>
          <p3>Rodents such as rats and mice can cause damage to property, and they can also spread disease. They can also contaminate food, and they can be a nuisance.</p3>
          <a href="" class="button">Book Now</a>
        </div>
        <div class="card4">
          <div class="icon">
           </div>
          <h2>Termites</h2>
          <p4>Termites are wood-eating insects that can cause serious damage to homes and businesses. They can weaken structures and even cause them to collapse.</p4>
          <a href="" class="button">Book Now</a>
        </div>
        <div class="card5">
          <div class="icon">
         </div>
          <h2>Bedbugs</h2>
          <p5>Bed bugs are small, flat insects that are about the size of an apple seed. They are reddish-brown in color and have oval-shaped bodies</p5>
          <a href="" class="button">Book Now</a>
        </div>
        <div class="card6">
          <div class="icon">
         </div>
          <h2>Flies</h2>
          <p6>Flies are small, two-winged insects that are found all over the world. They have a long proboscis that they use to suck up food.</p6>
          <a href="" class="button">Book Now</a>
        </div>
        <div class="card7">
          <div class="icon">
         </div>
          <h2>Mosquitoes</h2>
          <p7>Mosquitoes are small,flying insects that are found in tropical and temperate climates.Mosquitoes can transmit diseases such as malaria.</p7>
          <a href="" class="button">Book Now</a>
        </div>
        <div class="card8">
          <div class="icon">
         </div>
          <h2>Spiders</h2>
          <p8>Spiders are eight-legged arachnids that are found all over the world. They have a variety of body shapes and sizes.</p8>
          <a href="" class="button">Book Now</a>
        </div>
      </div>
    </div>
    </header>
  <script src="../public/js/index.js"></script>
  </body>
</html>