<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="view report" content="width=device-width, intial-scale=1">
        <title>support page</title>
        <link rel="stylesheet" type="text/css" href="../public/css/support.css">
        <link rel="stylesheet"
        href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <video autoplay loop muted playsinline>
        <source src="../assets/back.mp4" type="video/mp4">
      </video>
              <div class="icon">
              <a href="https://chat.whatsapp.com/C6e1FtDQ8m08djfu5VTMt7" class="icon-button">
                <i class='bx bxl-whatsapp' title="whatsapp"></i></a></div>
                <div class="iconn">
                  <a href="https://twitter.com/ShivaKumar39349?t=JwKYzsEtI_aCYBnyLlpGbg&s=09" class="icon-button1">
                    <i class='bx bxl-twitter' title="twitter"></i></a></div>
                    <div class="icon1">
                      <a href="" class="icon-button2" title="instagram">
                        <i class='bx bxl-instagram'></i></a></div>
                        <div class="icon2">
                          <a href="tel:6303508398" class="icon-button3" title="balanace vundha? mari endhkura neeku">
                            <i class='bx bx-phone-call'></i></a></div>
        
    

    <div class="container">
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="login.html">Login</a>
        <a href="services.html">Services</a>
      </div>
        <div id="main">
          <button class="openbtn" onclick="toggleSidebar()">☰</button>
        </div>
        <form action="sendemail.php" method="post">
            <h3>Support</h3>
            <label>Name</label>
            <input type="text" name="name" placeholder="Your Name" required>
            <label>Email</label>
            <input type="email" name="email" placeholder="Email id" required>
            <label>Query</label>
            <textarea name="msg" rows="4" placeholder="how can we help you?"></textarea> 
            <button type="submit" name="send" title="to send email">Send</button>
        </form>
    </div>
    <script src="../public/js/index2.js"></script>
</body>
</html>
