*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
header{
    width: 100vw;
    min-height: 100vh;
    background-image: url("b1.jpg");
    font-size: 1.5rem;
    display: flex;
    align-items: center;

}
@keyframes headcol
{
    from{
        text-shadow: 0 0 20px rgb(1, 190, 248),0 0 40px rgb(1, 190, 248),0 0 60px rgb(1, 190, 248),0 0 80px rgb(1, 190, 248) ;
    }
    to {
        text-shadow: 0 0 20px rgb(1, 190, 248),0 0 40px rgb(1, 190, 248),0 0 60px rgb(1, 190, 248),0 0 80px rgb(1, 190, 248);   
    }
}
.container{
    background: transparent;
    backdrop-filter: blur(25px);
    max-width: 400px;
    min-height: 400px;
    display: flex;
    margin:auto;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    animation: headcol 1s ease-in-out infinite alternate;
    color: white;
    border: #ffffff solid;
    border-radius: 25px;
    
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
form{
    padding:1rem ;
    margin-left: center
}
h3{
    margin-top: 1rem;
    color: #ffffff;
    position: center;
    
}
form input[type="text"]{
    width:100%;
    padding: 0.3rem 0.8rem;
    margin: 0.5rem 0;
    outline: none;
    
}
form input[type="text"]:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding: 12px 18px;
    transition: 0.7s ease;

}
.left{
    flex-basis: 100%;
}
#zip{
    display: flex;
    margin-top: 0.5rem;
}
#zip select{
    padding: 0.3rem 0.5rem;
}
#zip input[type="number"]{
    padding: 0.3rem 0.5rem;
    margin-left: 5px;
}
.btnsubmit{
    padding: 0.5rem 1rem;
    margin-left: 68px;
    align-items: center;
    margin-top: 20px;
    border: green solid;
    border-radius: 5px;
}
.btnsubmit:hover{
    background-color: black;
    color:lime;
    padding: 12px 18px;
    transition: 0.7s ease;

}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    display: block;
    padding: 16px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  .openbtn {
    margin-bottom: 700px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  

  
  
  
  
  
