*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    color: #444;

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;

}
.container{
    display: flex;
    width:50%;
    height: 50%;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.left{
    width: 50%;
    font-weight: bold;
}
.left p{
    padding: 50px 50px;
}
.Methods{
    padding:10px 0;
}
.Methods div{
    padding: 7px 20px;
    cursor: pointer;
    font-size: 15px;
}
.Methods div:hover{
    box-shadow: 0 0 10px rgba(172,255,47,0.196);
}
.Methods div::after{
    content: '';
    display: inline-block;
    color: greenyellow;
    width: 0;
    height: o;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-left-color: var(--fondy-success);
    margin-left: 10px;
}
.fa-solid{
    margin-right: 10px;
    font-size: 22px;
    color: #aaa;
}
#Payment{
    color:lime;
}
.center{
    width: 70%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 70vh;
}
.center a{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.right{
    width: 25%;
}
.right p{
    padding: 30px 20px;
    font-weight: bold;
}
.details{
    padding: 20px 20px;
}
.right a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.card-details{
    padding: 20px 80px;
}
.card-details .c-number{
    width:100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0 12px;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    border: none;
    border-radius: 3px;
    outline: none;
}
.c-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;

}
.cc-exp{
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 50px;
    margin-top: 10px;
    padding: 12px;
    width: 150px;
}

.c-details .cvv-box{
    border: 1px solid #aaa;
    margin-top: 10px;
    padding: 12px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    width: 108px;
}
.cc-cvv{
    width:60px;
}



.email input{
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 12px;
    height: 50px;
    margin-top: 10px;
}
.button{
    font-size: 15px;
    text-decoration: none;
    color: Black;
    background-color: greenyellow;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-top: 10%;
}
.button:hover{
    background-color: black;
    color:lime;
    padding: 21px 2px;
    transition: 0.7s ease;
}
